/* Carregar fontes. ------------------ */
@font-face {
    font-family: "AdLib";
    src: url("fonts/adlib.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("fonts/helvetica.ttf");
}

/* ----------------------------------- */

/* Cores. ---------------------------- */
.color-criatividade {color: #e44c78;}
.color-alegria {color: #ffd343;}
.color-pureza {color: #94dc52;}
.color-imaginacao {color: #3c89d7;}

/* ----------------------------------- */

/* Classes genéricas ----------------- */
/* Fontes */
h1 {font-family: "AdLib"}
p {font-family: "Helvetica";}

/* Links*/
a:link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Esconder scrollbars */
body {
    overflow-x: hidden;
    overflow-y: scroll;
}

@media (min-width: 1200px) {
    body {
        overflow-y: hidden
    }
}

/* ----------------------------------- */

/* Classes específicas -------------- */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; /* Make sure it's above the video */
  }

.inline {
    display: inline
}

/* Semáforo */
.dots {
    position: absolute;
    top: 0;
    right: 0;
}

/* Background */
#video-fundo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -5;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(150%) blur(2px);
    opacity: 0.08;
}

/* Tamanho vertical da tela */
@media (min-width: 1200px) {
    .vh-lg-100 {
        height: 100vh;
    }
}

/* Justify */
.justify-text {
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    word-break: break-word;
    hyphens: auto;
}

/* Fade in e Fade Out */
#fadeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 1; /* Fully visible by default */
    pointer-events: none; /* Prevent interaction */
    transition: opacity 0.5s ease-in-out; /* Smooth fade effect */
    z-index: 1000; /* Place it above all content */
}
/* ----------------------------------- */

/* Navbar ---------------------------- */

@media (max-width: 1200px) {
    .tamanho-tela-mobile {
        min-height: calc(90vh) !important;
    }
}

@media (min-width: 1200px) {
    .tamanho-tela-desktop {
        min-height: calc(100vh - 50px) !important;
    }
}

/* Tamanho vertical da tela */
@media (min-width: 1200px) {
    .mostrar-navbar {
        display: block !important;
    }
}

.navbar-desktop {
    display: none;
    background-color: #e44c78;

    position: sticky;
    top: calc(100vh - 50px);

    max-width: 100%;
    height: 50px;

    margin: 0px;
    padding: 0px;
    padding-left: 6px;

    z-index: 5;
}

.navbar-desktop .nav-button{
    background-color: #94dc52;
    display: inline-block;
    height: 50px;

    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;

    position: relative;
    box-sizing: border-box;
    z-index: 1;

    transition: 0.1s;
}

.nav-button:hover {
    background-color: #3c89d7; /* Animation */
    
    z-index: 5 !important;
    scale: 1.1;
    /*transform: rotate(-1.5deg) translateY(-10px);*/
}

.navbar-desktop .nav-button a {
    font-family: "AdLib";
    font-size: 30px;
    text-decoration: none;
}

.navbar-desktop .nav-button-active {
    background-color: #ffd343;
    display: inline-block;
    height: 50px;
    /*transform: translateY(-10px);*/
    will-change: transform;

    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;

    position: relative;
    box-sizing: border-box;
    z-index: 1;

    transition: 0.1s;
}

.nav-button-active:hover {
    background-color: #3c89d7; /* Animation */
    
    z-index: 5 !important;
    scale: 1.1;
    /*transform: rotate(1.5deg) translateY(-10px);*/
}

.nav-button-active:hover a {
    text-decoration: none;
}

.navbar-desktop .nav-button-active a { /* Mobile */
    font-family: "AdLib";
    font-size: 30px;
}

.navmobile {
    background-color: #e44c78;
    font-family: "AdLib"; 
    font-size: 30px;
}

.navmobile a{
    font-weight: normal !important;
    text-align: right;
    color: #e8e8e8;
    text-decoration: none;
}
/* ----------------------------------- */

/* Página Membros -------------------- */
/* Texto */
#member-text {
    background-color: rgba(60, 137, 215, 0.5);
    max-width: 700px !important;
    min-height: 560px;
    margin: 10px;
    padding: 10px;
}

.hidden {
    opacity: 0;
}

@media (min-width: 1200px) {
    #member-text {
        margin-top: -55px !important;
    }
}

#member-text h1 {
    font-size: 50px;
}

.members-photo {
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('img/team/casanova.webp');
}

#close-button {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


/* Ícones */
.grades-icones {
    max-width: 700px !important;
}

@media (min-width: 1200px) {
    .grades-icones {
        margin-top: -55px !important;
    }
}

.grades-icones p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 140px;
}

.no-anim { animation: none !important; cursor: auto !important;}
.no-anim:hover { animation: none !important; }

.member-icon {
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: none;
    cursor: pointer;
    /*outline-width: 5px;
    outline-style: solid;
    background-color: #3c89d7;
    outline: #94dc52;*/
}

/*.member-icon:hover {
    -webkit-animation: flip 1s;
    animation: flip 1s;
    animation-fill-mode: forwards;
}*/

.pedro-icon    { background-image: url('img/team/pvic.webp');     }
.shin-icon     { background-image: url('img/team/shin.webp');     }
.bitto-icon    { background-image: url('img/team/bitto.webp');    }
.pablo-icon    { background-image: url('img/team/pablo.webp');    }
.prancha-icon  { background-image: url('img/team/prancha.webp');  }
.casanova-icon { background-image: url('img/team/casanova.webp'); }
.glace-icon    { background-image: url('img/team/glace.webp');    }
.speed-icon    { background-image: url('img/team/speed.webp');    }
/* ----------------------------------- */

/* Página Games ---------------------- */

#game-logo {
    width: auto;
    max-height: 265px;
}

#game-hero {
    position: relative;
    
    margin: 0px;
    padding: 0px;

    width: 100%;
    max-height: 512px;
}

.game-screenshot {
    height: 100px;
    background-size: cover;
    background-position: center;
}

.store-badge {
    width: 200px !important;
    cursor: pointer;
}

.store-badge:hover {
    transform: scale(1.15);
    transition: 0.1s;
    filter: drop-shadow(0px 0px 10px black);
}

#desc-section {
    z-index: -1 !important;
}

@media (min-width: 1200px) { /* desktop */
    #games-principal {
        height: calc(100vh - 90px);
    }

    #game-hero {
        transform: scale(1.3) translateX(25px) translateY(-60px);
        max-height: 512px;
    }

    .hero-anim {
        animation: bounce-in-right 2s ease !important;
    }

    @keyframes bounce-in-right {
        0% {
          opacity: 0;
          transform: translateX(-2000px) scale(1.3) translateY(-60px);
        }
        40% {
            opacity: 0;
            transform: translateX(-2000px) scale(1.3) translateY(-60px);
        }
        70% {
          opacity: 1;
          transform: translateX(55px) scale(1.3) translateY(-60px);
        }
      }
}

.empty-anim {
    animation: empty 0s;
}

@keyframes empty {
    100% {}
}

#arrow-left{
    max-width: 70px;
    padding: 0px;
    z-index: 5;
}

#arrow-left:hover{
    cursor: pointer;
}


#arrow-right{
    max-width: 70px;
    padding: 0px;
    z-index: 5;
}

#arrow-right:hover{
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

/* ----------------------------------- */
